# Hugo
public
resources
.hugo_build.lock

# RStudio
.config
.local
rstudio
.Rprofile
!assets/.Rprofile
.Rhistory
.RData

# Misc
.cache
assets/_output
assets/*-output
bin
debug
.bash_history
.DS_Store
tmp
.wget-hsts
.vscode/
.Rproj.user
